<h3><%= t('product_received.update.title')%></h3>
<div class="line-separator"></div>
<div class="detail">
  <%= render 'form' %>

<div class="btns">
  <%= link_to t('action.back'), campaign_product_received_groups_path(@campaign), :class => "btn btn-inverse pull-right" %>  
</div>
