  <div class="panel panel-info">
    <div class="panel-heading">
      <h3><%= t('direct_sale.update.title')%></h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>  
    <!-- En el form se cierra el div del body del panel -->
  </div>