<div class="app-header row-fluid">
  <div class="app-logo span6">
  </div>
  <div class="head-btns span6">
    <%= link_to t('campaign.title'), campaigns_path, :class => "btn btn-warning pull-right" %>
    <%= link_to t('product.title'), products_path, :class => "btn btn-warning pull-right" %>
    <%= link_to t('member.title'), root_url, :class => "btn btn-warning pull-right" %>
  </div>
</div>