<h3><%= t('subscription.update.title')%></h3>
<div class="line-separator"></div>
<div class="detail">

<%= render 'form' %>


<div class="btns">
  <%= link_to t('action.back'), campaign_subscriptions_path(@campaign), :class => "btn btn-primary pull-right" %>  
</div>

