<h3><%= t('product.update.title')%></h3>
<div class="line-separator"></div>
<div class="detail">

  <%= render 'form' %>

<div class="btns">
      <%= link_to t('action.show'), @product, :class => "btn btn-primary pull-left"   %>
      <%= link_to t('action.back'), products_path, :class => "btn btn-inverse pull-left"  %>
</div>
