<h3><%= t('product.new.title') %></h3>
<div class="line-separator"></div>
<div class="detail">

<%= render 'form' %>

<div class="row">
  <div class="span12">
    <%= link_to 'Back', products_path %>
  </div>
</div>
