<h3><%= t('member.update.title')%></h3>
<div class="detail">

  <%= render 'form' %>

<div class="btns">
      <%= link_to t('action.back'), members_path, :class => "btn btn-inverse pull-right"  %>
</div>
