<h3><%= t('member.new.title')%> </h3>
<div class="line-separator"></div>
<div class="detail">

  <%= render 'form' %>

<div class="row">
    <div class="span12">
    	<%= link_to t('action.back'), members_path %>
    </div>
</div>

